@{
	ViewData["Title"] = "employee";

}
<h1>employee page</h1>

<table class="w-100">
	<thead>
	<th class="col-auto">employee Id</th>
	<th class="col-auto">employee Name</th>
	<th class="col-auto">employee Code</th>
	<th class="col-auto">employee Salary</th>
	<th class="col-auto">employee Designation</th>
	</thead>


<tbody>
	<tr>
	  <td>1010</td>

	  <td>deep</td>

	  <td>3</td>

	  <td>56000</td>

	  <td>manager</td>
	  <td><button class="btn btn-outline-success"><i class="bi bi-pen-fill"></i></button></td>
			<td><button class="btn btn-outline-success"><i class="bi bi-trash3-fill"></i></button></td>

	</tr>

</tbody>
</table>


